<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>修改</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/vue.js"></script>
</head>
<body>
	<div class="wraper">
		<div id="update">
			<h1 class="tit-top_name">修改编号为{{mode[0].id}}的信息</h1>
			<form class="form_container-wrap" action="/index/update" method="post">
				<input type="hidden" name="id" :value="mode[0].id" >
				<div class="box">
					<label>姓名：
						<input class="inp" type="text" name="name" :value="mode[0].name"/>
					</label>
				</div>
				<div class="box">
					<label>类型：
						<input class="inp" type="number" name="type" :value="mode[0].type"/>
					</label>
				</div>
				<div class="box">
					<label>年龄：
						<input class="inp" type="number" name="age" :value="mode[0].age"/>
					</label>
				</div>
				<div class="box">
					<input class="sub_btn" type="submit" value="提交">
					<a class="cansel_btn" onclick="hrefClick()">取消</a>
				</div>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript">
	// data = JSON.parse(data);
	new Vue({
		el: '#update',
		data: {
			mode: <%- datas %>
		}
	});

	function hrefClick() {
		window.history.back(-1);
	};

	
</script>
</html>
